<p-toast key="tst" [baseZIndex]="99999"></p-toast>

<div class="auth">
    <div class="auth-form">
      <div class="auth-form__card">
        <div class="auth-form__card--logo">
          <figure class="logo">
            <img src="assets/images/auth/logo-tgestiona.png" alt="" />
          </figure>
        </div>
        <div class="auth-form__card--title">
          Iniciar sesión
        </div>
        <div class="form mt-5" autocomplete="off" [formGroup]="form">
          <input type="hidden" name="__RequestVerificationToken" [value]="this.csrfToken"
            formControlName="RequestVerificacionToken" />
  
            <div class=" contenedor-inputs">
                <label class="label-filter-text">Usuario</label>
                <input type="text" pInputText formControlName="usuario" />
                
                <small *ngIf="form.controls['usuario'].hasError('required')"
                class="text-red-600">Este campo es obligatorio</small>
            </div>
         
            <div class=" contenedor-inputs">
                <label class="label-filter-text">Contraseña</label>
                <input type="password" pInputText formControlName="password" />

                <small *ngIf="form.controls['password'].hasError('required')"
                class="text-red-600">Este campo es obligatorio</small>
            </div> 
  
          <div>
            <re-captcha formControlName="recaptchaReactive" name="recaptcha" [(ngModel)]="tokenRecaptcha"
              (resolved)="resolved($event)"  #IdCaptcha
              [class.is-invalid]="form.controls['recaptchaReactive'].invalid && (form.controls['recaptchaReactive'].dirty || form.controls['recaptchaReactive'].touched)">
            </re-captcha>
            <div
              *ngIf="form.controls['recaptchaReactive'].invalid && (form.controls['recaptchaReactive'].dirty || form.controls['recaptchaReactive'].touched)">

              <small *ngIf="form.controls['recaptchaReactive'].hasError('required')"
              class="text-red-600">Este campo es obligatorio</small>
            </div>
          </div>

          <br>
          <p-button class="w-full" label="Ingresar" [raised]="true" severity="success" size="large" (click)="login($event)" [loading]="loading"/>

          <br>
          <br>
          <a (click)="recuperarRedirect()" class="form-recuperar">Recuperar contraseña</a>

        </div>
      </div>
    </div>
    <div class="content-background">
      <svg class="semi-circle" viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice"
        xmlns="http://www.w3.org/2000/svg">
        <g class="" fill="none" stroke="currentColor" stroke-width="100" style="
          --tw-text-opacity: 1;
          color: rgba(51, 65, 85, var(--tw-text-opacity));
          opacity: 0.25;
  
          ">
          <circle r="234" cx="196" cy="23"></circle>
          <circle r="234" cx="790" cy="491"></circle>
        </g>
      </svg>

      <!-- Dots -->
      <svg class="svg-square" viewBox="0 0 220 192" width="220" height="192" fill="none">
        <defs>
          <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20"
            patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
          </pattern>
        </defs>
        <rect width="220" height="192" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
      </svg>


      <div class="content-text">
        <div class="content-text__text">
          <div>Sistema de</div>
          <div>Gestión</div>
        </div>
      </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>
  