.columna-codigo{
    min-width: 9rem;
}
.columna-carta{
    min-width: 5rem;
}
.columna-fecha{
    min-width: 10rem;    
}
.columna-cliente{
    min-width: 15rem;    
    // text-overflow: ellipsis;
    white-space: nowrap;
    // overflow: hidden;
}
.columna-registrado{
    min-width: 15rem;    
}
.columna-asunto{
    min-width: 15rem;    
}
.columna-ver-detallles{
    min-width: 10rem;
}