<p-toast key="tst" [baseZIndex]="99999"></p-toast>

<p-card header="Total de Registros">
    <form [formGroup]="formBusqueda">
        <div class="p-fluid p-formgrid grid">

            <div class="col-12 md:col-4">
                <label class="label-filter-text">Codigo</label>
                <input type="text" pInputText formControlName="txtCodigo" />
            </div>

            <div class="col-12 md:col-4">
                <label class="label-filter-text">Asunto</label>
                <input type="text" pInputText formControlName="txtAsunto" />
            </div>

            <div class="col-12 md:col-4">
                <label class="label-filter-text">Cliente</label>
                <p-autoComplete [(ngModel)]="selectedClientesFiltro" [dropdown]="true" [suggestions]="lstClientesFiltro"
                    (completeMethod)="filtrarClientesFiltro($event)" minLength="1" field="cliente" appendTo="body"
                    placeholder="Seleccione Cliente" formControlName="cboCliente" />
            </div>


            <div class="col-12 md:col-4">
                <label class="label-filter-text">Fecha Inicio</label>
                <p-calendar [(ngModel)]="dateFechaInicio" [iconDisplay]="'input'" [showIcon]="true"
                    inputId="icondisplay" appendTo="body" dateFormat="dd/mm/yy" formControlName="cboFechaInicio" />
            </div>

            <div class="col-12 md:col-4">
                <label class="label-filter-text">Fecha Fin</label>
                <p-calendar [(ngModel)]="dateFechaFin" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay"
                    appendTo="body" dateFormat="dd/mm/yy" formControlName="cboFechaFin" />
            </div>

            <div class="col-12 md:col-4">
                <label class="label-filter-text">Usuario Registra</label>
                <p-autoComplete [(ngModel)]="selectedUsuarios" [dropdown]="true" [suggestions]="lstUsuarios"
                    (completeMethod)="filtrarUsuarios($event)" minLength="1" field="usuario" appendTo="body"
                    placeholder="Seleccione Usuario" formControlName="cboUsuario" />
            </div>

        </div>


        <div class="flex flex-wrap sm:flex-row">
            <div class="sm:mr-auto mb-3 mr-3">
                <p-button label="Nuevo Registro" severity="help" icon="pi pi-plus" iconPos="right" (click)="showModal(null,'Registrar')" />
            </div>
            <div class="mb-3 mr-3">
                <p-button label="Buscar" severity="primary" icon="pi pi-search" iconPos="right" [outlined]="true" />
            </div>
            <div class="">
                <p-button label="Limpiar" severity="secondary" icon="pi pi-trash" iconPos="right" [outlined]="true" />

            </div>
        </div>
    </form>

    <br>
    <br>
    <br>


    <p-table [value]="lstRegistros" styleClass="p-datatable-sm" [loading]="loading">
        <ng-template pTemplate="header">
            <tr>
                <th class="columna-carta"></th>
                <th class="columna-codigo">Codigo</th>
                <th class="columna-fecha">Fecha Registro</th>
                <th class="columna-cliente">Cliente</th>
                <th class="columna-carta">Registrado Por</th>
                <th class="columna-carta">Asunto</th>
                <th class="columna-ver-detallles"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr>
                <td class="columna-carta">
                    <p-button icon="pi pi-envelope" [rounded]="false" [text]="true" [severity]="'warning'" />
                </td>
                <td class="columna-codigo">{{ data.codigo }}</td>
                <td class="columna-fecha">{{ data.fechaRegistro | date: 'dd/MM/YYYY' }}</td>
                <td class="columna-cliente">{{ data.cliente }}</td>
                <td class="columna-registrado">{{ data.usuario }}</td>
                <td class="columna-asunto">{{ data.asunto }}</td>
                <td class="columna-ver-detallles">
                    <p-button label="Ver Detalles" [text]="true" (onClick)="showModal(data, 'Ver-Detalle')"/>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No se encontró Información.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr>
                <td colspan="7">
                    Cargando Información de Proveedores. Espere por favor.
                </td>
            </tr>
        </ng-template>
    </p-table>


    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecord"
        [rowsPerPageOptions]="rowsPageOptions" 
        [showCurrentPageReport]="true"  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords}"/>
</p-card>

<p-dialog header="Nuevo Registro" [modal]="true" [(visible)]="bDialogRegistrarDetalle"
    [style]="{ width:'600px',height:'1000px' }" [closable]="true" [resizable]="true" [draggable]="false">

    <ng-template pTemplate="content">
        <form [formGroup]="formRegistro">
            <div class="p-fluid p-formgrid grid">

                <div class="col-12 md:col-12">
                    <label class="label-filter-text">Cliente</label>
                    <p-autoComplete [(ngModel)]="selectedClientes" [dropdown]="true" [suggestions]="lstClientes"
                        (completeMethod)="filtrarClientes($event)" minLength="1" field="cliente" appendTo="body"
                        formControlName="cboCliente" placeholder="Seleccione Cliente" />

                    <small
                        *ngIf="formRegistro.controls['cboCliente'].invalid && formRegistro.controls['cboCliente'].touched"
                        class="text-red-600">Seleccione Cliente.</small>
                </div>

                <div class="col-12 md:col-12">
                    <label class="label-filter-text">Asunto</label>
                    <input type="text" pInputText formControlName="txtAsunto" [(ngModel)]="requestGuardar.asunto"/>

                    <small
                        *ngIf="formRegistro.controls['txtAsunto'].invalid && formRegistro.controls['txtAsunto'].touched"
                        class="text-red-600">Ingrese Asunto.</small>
                </div>

                <div class="col-12 md:col-12">
                    <label class="label-filter-text">Descripcion Detallada</label>
                    <textarea rows="4" cols="30" pInputTextarea formControlName="txtDescripcion" [(ngModel)]="requestGuardar.detalle"></textarea>

                    <small
                        *ngIf="formRegistro.controls['txtDescripcion'].invalid && formRegistro.controls['txtDescripcion'].touched"
                        class="text-red-600">Ingrese Descripcion Detallada.</small>
                </div>

                <div class="col-12 md:col-12" *ngIf="bEditarDetalle">
                    <label class="label-filter-text">Comentario</label>
                    <textarea rows="4" cols="30" pInputTextarea formControlName="txtComentario"  [(ngModel)]="requestGuardar.comentarioGerencia"></textarea>

                    <small
                        *ngIf="formRegistro.controls['txtDescripcion'].invalid && formRegistro.controls['txtDescripcion'].touched"
                        class="text-red-600">Ingrese Comentario.</small>
                </div>

            </div>
        </form>

    </ng-template>

    <ng-template pTemplate="footer">
        <p-button label="Cerrar" severity="secondary" icon="pi pi-times" iconPos="right"
            (onClick)="bDialogRegistrarDetalle = false" />
        <p-button label="Enviar" severity="primary" icon="pi pi-send" iconPos="right" (onClick)="guardarRegistro()" [loading]="loadingRegistrar" />
    </ng-template>
</p-dialog>


<!-- [ngClass]="{'ng-invalid ng-dirty' : submitted && !lsusuariodto.iid_tipo_documento}"  -->