.columna-carta{
    min-width: 5rem;
}
.columna-fecha{
    min-width: 10rem;    
}
.columna-cliente{
    min-width: 15rem;    
}
.columna-registrado{
    min-width: 15rem;    
}
.columna-asunto{
    min-width: 15rem;    
}
.columna-ver-detallles{
    min-width: 10rem;
}